extends ../layouts/main

block variables
    - var title = 'Webpack Pug and Vue Template'
    - var description = 'Empty webpack pug and vue template'
    - var keywords = "babel 7, html, pug, css, scss, js, javascript, npm, node.js, webpack, vue, vuex"
    - var pageClass = 'index-page'

block content
    section
        .container
            input(type='text').datepicker