#sidebar-mobile{
  width: 280px;
  padding-bottom: 0;
  .create-post__btn{
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 22px;
  }
  nav.navbar{
    height: auto;
    .navbar__items{
      margin-left: 0;
      .navbar__item{

      }
    }
  }
}
