include ../utils/mixins
block variables

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        block head

    body(class=pageClass)
        include ../includes/modules/header
        #content.container
            main
                block content
            #sidebar
                block sidebar
        include ../includes/modules/footer
        block script