include ../utils/mixins
block variables

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        meta(name="viewport",content="width=device-width, initial-scale=1")
        block head
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    body(class=pageClass)
        include ../includes/modules/header
        #sidebar-mobile.sidenav
            block mobile
        #content.container
            main
                block content
            #sidebar.hide-on-med-and-down
                block sidebar
        include ../includes/modules/footer
        block script